
*.pper
.Rproj.user/614B321B/sources/prop/14B9D433
.Rproj.user/614B321B/sources/prop/14B9D433
.Rproj.user/614B321B/sources/prop/14B9D433
testing_vig_new.R
testing_vig_org.R
.Rproj.user/shared/notebooks/paths
.Rproj.user/614B321B/sources/s-ADC5012F/lock_file
.Rproj.user/614B321B/sources/s-ADC5012F/E48D0FE0-contents
.Rproj.user/614B321B/sources/s-ADC5012F/DE14ACD0-contents
.Rproj.user/614B321B/sources/s-ADC5012F/D752456F-contents
.Rproj.user/614B321B/sources/s-ADC5012F/C1A295BD-contents
.Rproj.user/614B321B/sources/prop/14B9D433
.Rproj.user/614B321B/sources/prop/1EFCC7D8
.Rproj.user/614B321B/sources/prop/2E28CC39
.Rproj.user/614B321B/sources/prop/31EC6BBA
.Rproj.user/614B321B/sources/prop/14B9D433
.Rproj.user/614B321B/sources/prop/1EFCC7D8
.Rproj.user/614B321B/sources/prop/2E28CC39
.Rproj.user/614B321B/sources/prop/31EC6BBA
.Rproj.user/614B321B/sources/prop/4C8059BC
.Rproj.user/614B321B/sources/prop/528C2A2B
.Rproj.user/614B321B/sources/prop/5FB7E5A
.Rproj.user/614B321B/sources/prop/67D4FBAA
doc
Meta
.Rproj.user/shared/notebooks/840B1EDB-mrclust/1/614B321BB4CA0338/chunks.json
.Rproj.user/shared/notebooks/840B1EDB-mrclust/1/614B321BFA42E018/cgxyxea2tu4c5/000002.csv
.Rproj.user/shared/notebooks/840B1EDB-mrclust/1/614B321BFA42E018/cgxyxea2tu4c5/000003.rdf
.Rproj.user/shared/notebooks/840B1EDB-mrclust/1/614B321BFA42E018/cgxyxea2tu4c5/000004.csv
.Rproj.user/614B321B/persistent-state
.Rproj.user/614B321B/sources/per/t/349B2721-contents
.Rproj.user/614B321B/sources/per/t/464CDDE1
.Rproj.user/614B321B/sources/per/t/349B2721
*.pper
.Rproj.user/614B321B/sources/per/t/464CDDE1-contents
